<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      BLE Sensor Gateway
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BLE Sensor Gateway</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    @if (!isScanning) {
      <ion-button expand="block" (click)="toggleScan()">
        <ion-icon slot="start" name="bluetooth-outline" />
        Start Scan
      </ion-button>
    } @else {
      <ion-button expand="block" color="danger" (click)="toggleScan()">
        <ion-icon slot="start" name="stop-outline" />
        Stop Scan
      </ion-button>
    }
  </div>

  @if ((ble.devices$ | async); as devices) {
    <ion-list>
      @if (devices.length === 0 && isScanning) {
        <ion-item lines="none">
          <ion-label class="ion-text-center">Scanning for sensors...</ion-label>
        </ion-item>
      } @else if (devices.length === 0 && !isScanning) {
        <ion-item lines="none">
          <ion-label class="ion-text-center">No sensors found. Start a scan to begin.</ion-label>
        </ion-item>
      }

      @for (device of devices; track device.id) {
        <ion-card class="device-card" [class.device-connected]="device.status === 'connected'">
          <ion-card-header>
            <ion-card-title>
              <div class="card-title-container">
                <div class="status-dot" [class]="device.status"></div>
                <span>{{ device.name }}</span>
                
                @if (device.sensorData && device.sensorData.length > 0) {
                  <div class="ion-text-nowrap" slot="end">
                    <span class="temperature-reading">
                      {{ device.sensorData[device.sensorData.length - 1].temperature | number:'1.1-1' }} °C
                    </span>
                  </div>
                }
              </div>
            </ion-card-title>
            <ion-card-subtitle>
              Device ID: ...{{ device.id.slice(-6) }} | RSSI: {{ device.rssi }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-button class="connect-button" fill="outline" expand="block"
              (click)="device.status === 'connected' ? ble.disconnect() : ble.connectToSensor(device.id)"
              [disabled]="device.status === 'processing' || (!!(ble.connectedDeviceId$ | async)) && device.status !== 'connected'">
              
              @if (device.status === 'processing') {
                <ion-spinner name="dots"></ion-spinner>
              } @else if (device.status === 'connected') {
                <ion-icon slot="start" name="log-out-outline"></ion-icon>
                Disconnect
              } @else if (device.status === 'failed') {
                <ion-icon slot="start" name="close-circle-outline"></ion-icon>
                Retry Connection
              } @else {
                <ion-icon slot="start" name="log-in-outline"></ion-icon>
                Connect
              }
            </ion-button>

            @if (device.status === 'connected') {
              <div class="sensor-controls-container">
                <ion-list-header>Sensor Controls</ion-list-header>
                <ion-item lines="none">
                  @if (device.isCollecting === true) {
                    <ion-icon slot="start" name="play-circle-outline" color="success"></ion-icon>
                    <ion-label>Status: <ion-text color="success">Collecting</ion-text></ion-label>
                    <ion-button slot="end" fill="outline" color="danger" (click)="ble.sendStopCommand(device.id)">
                      <ion-icon slot="icon-only" name="pause-circle-outline"></ion-icon>
                      Stop
                    </ion-button>
                  } @else if (device.isCollecting === false) {
                    <ion-icon slot="start" name="pause-circle-outline" color="medium"></ion-icon>
                    <ion-label>Status: <ion-text color="medium">Stopped</ion-text></ion-label>
                    <ion-button slot="end" fill="outline" color="success" (click)="ble.sendStartCommand(device.id)">
                      <ion-icon slot="icon-only" name="play-circle-outline"></ion-icon>
                      Start
                    </ion-button>
                  } @else {
                    <ion-label>Status: Reading...</ion-label>
                    <ion-spinner slot="end" name="crescent"></ion-spinner>
                  }
                </ion-item>
                <ion-item lines="none">
                  <ion-label>Data Transfer</ion-label>
                  <ion-button slot="end" fill="outline" (click)="ble.requestData(device.id, device.lastKnownMeasureCount)">
                     <ion-icon slot="start" name="download-outline"></ion-icon>
                     Download
                  </ion-button>
                </ion-item>
              </div>
            }

            @if (device.status === 'connected' && device.sensorData && device.sensorData.length > 0) {
              <div class="data-history-container">
                <ion-list-header>Downloaded Data ({{ device.sensorData.length }} packets)</ion-list-header>
                <ion-list lines="full" class="details-list">
                  @for (data of device.sensorData; track data.measureCount) {
                    <ion-item>
                      <ion-icon name="document-text-outline" slot="start" color="medium"></ion-icon>
                      <ion-label>
                        <h3>Count: {{ data.measureCount }}</h3>
                        <p>{{ data.measuredAt | date:'HH:mm:ss' }} | Temp: {{ data.temperature }}°C | Hum: {{ data.humidity }}%</p>
                      </ion-label>
                      <ion-note slot="end">{{ data.stateOfEnergy }}% SoE</ion-note>
                    </ion-item>
                  }
                </ion-list>
              </div>
            } @else if (device.status === 'connected' && (!device.sensorData || device.sensorData.length === 0)) {
              <div class="data-history-container ion-text-center">
                <ion-label color="medium"><p>Connected. Waiting for data...</p></ion-label>
              </div>
            }

          </ion-card-content>
        </ion-card>
      }
    </ion-list>
  }
</ion-content>